* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
html {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
  color: white;
}
/* body {
  background-color: #0a0908;
} */
body.light-mode {
  background-color: #eaf4f4;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  transition: background-color 0.3s ease;
  background-color: #1a1919;
  color: #999;
}
