* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background-color: rgba(16, 15, 19, 255);
  overflow-x: hidden;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
html {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
  color: white;
}
