.NavigationSection {
  max-width: 170rem;
  margin: 0 auto;
  margin-top: 4.2rem;
}
.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LocationIcon {
  width: 2.2rem;
  height: auto;
}
.NavLeft {
  gap: 1.2rem;
}

.Country {
  color: #f2cd5c;
  text-shadow: 0px 0px 10px #f2cd5c;
  font-weight: 300;
}

.NavLeft > h2 {
  font-weight: 600;
}
.NavLeft,
.NavRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavMid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SarchInput {
  color: white;
  caret-color: white;
  text-indent: 2.8rem;
  background-color: rgba(30, 30, 30, 255);
  width: 50rem;
  border-radius: 2.4rem;
  border: none;
  padding: 1.2rem 1.2rem;
}
.SarchInput:focus {
  outline: none;
}
.SarchInputLight {
  color: black;
  caret-color: black;
  text-indent: 2.8rem;
  background-color: white;
  width: 50rem;
  border-radius: 2.4rem;
  border: none;
  padding: 1.2rem 1.2rem;
}
.SarchInputLight:focus {
  outline: none;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ErrorMsg {
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
  position: absolute;
  font-weight: 400;

  margin-top: 3.2rem;
  top: 3.2rem;
}

.ErrorMsgNone {
  display: none;
  position: absolute;
  font-weight: 400;
  color: white;
  margin-top: 3.2rem;
  top: 3.2rem;
}
.sarchIcon {
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
}

.iconParrent,
.dummyParrent {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1.4rem;
  overflow: visible;
  background-color: rgba(35, 35, 37, 255);
}
.dummyParrent {
  margin-right: 1.2rem;
}

.switch {
  position: relative;
  width: 120px;
  height: 60px;
  background-color: #212529;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.iconMoon,
.iconSun {
  position: absolute;
  z-index: 10;
}
.iconSun {
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}
.iconMoon {
  left: 10px;
  top: 13px;
  width: 32px;
  height: 32px;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}
.handle {
  width: 60px;
  height: 60px;
  background-color: #537fe7;
  border-radius: 40px;
}
.CountryLight {
  color: #4a4a4a;
}

@media only screen and (max-width: 1731px) {
  .NavContainer {
    padding: 0 3.2rem;
  }
}

@media only screen and (max-width: 962px) {
  .switch {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
  }
  .handle {
    width: 40px;
    height: 40px;
    background-color: #537fe7;
    border-radius: 40px;
  }
  .iconSun {
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
  }
  .iconMoon {
    left: 10px;
    top: 8px;
    width: 22px;
    height: 22px;
  }
}
@media only screen and (max-width: 854px) {
  .SarchInput {
    width: 30rem;
  }

  .SarchInputLight {
    width: 30rem;
  }
}

@media only screen and (max-width: 574px) {
  .SarchInput {
    width: 15rem;
  }
  .SarchInput:focus {
    outline: none;
  }
  .SarchInputLight {
    width: 15rem;
  }
  .SarchInputLight:focus {
    outline: none;
  }
  .ErrorMsg {
    width: 400px;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 412px) {
  .ErrorMsg {
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
  }
  .NavContainer {
    padding: 0 2.2rem;
    gap: 1.2rem;
  }
  .NavLeft {
    gap: 0.2rem;
  }

  .switch {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 50px;
  }
  .handle {
    width: 25px;
    height: 25px;
    background-color: #537fe7;
    border-radius: 40px;
  }
  .iconSun {
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
  }
  .iconMoon {
    left: 6px;
    top: 1px;
    width: 12px;
    height: 22px;
  }
}

@media only screen and (max-width: 330px) {
  .NavContainer {
    padding: 0 1.2rem;
  }
}

@media only screen and (max-width: 311px) {
  .NavContainer {
    padding: 0rem;
  }
}
